@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

h1{
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
}

section {
  max-width: 760px;
  background-color: #ffffff;
  padding: 2rem 0;
  min-width: 59.4%;
  min-height: 70vh;
}

form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

form div{
  flex: 1 1 40%;
}

.heading{
  margin-bottom: -5%;
  font-weight: lighter;
}

.radio-options{
  display: flex;
  justify-content: center;
  text-align: center;
}

.radio-options div{
  flex: 1 1 30%;
}

.account-info{
  display: flex;
  flex: 1 1 30%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  height: 44.6%;
}

.account-info div{
  flex: 1 1 20%;
  padding: 1%;
}

.info{
  height: 40px;
}

.upload{
  display: flex;
  justify-content: center;
  padding: 2%;
}

.upload div{
  padding: 1%;
  flex: 1 1 40%;
}

.file{
  font-size: 16px;
}

.signup{
  width: 99%;
  padding: 2%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid black;
  font-size: 18px;
}
